<!--- Inicio: 03/10/2024 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/media/logosem.png" type="image/x-icon">
    <title>MedSys</title>
</head>
<body>
    <header>
        <div>
            <img src="../static/media/logosem.png" width="200" class="logo">
        </div>
        <h1>SEJA BEM VINDO!</h1>
        <a href="{% url 'tabpacient' %}" class="cad" ><img src="../static/media/addpacie.png" width="60px"></a>
        <a href="{% url 'tabmed' %}"><img src="../static/media/tabmed.png" width="60px"></a>
        <a href="{% url 'agendar' %}"><img src="../static/media/agendar.png" width="60px"></a>
    </header>
    <main><h2> O MELHOR SITE PARA O GERENCIAMENTO HOSPITALAR!</h2>
         <img src="../static/media/fotoinictwo.jpg" class="imginic">
    </main>
        
</body>
</html>