<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/media/logosem.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/tabmed.css">
    <title>Medicos</title>
</head>
<body>
    <header>
        <img src="../static/media/logosem.png" width="200">
     <h1>Informações</h1>
        <a href="{% url 'home' %}" class="cad" ><img src="../static/media/home.png" width="60px"></a>
        <a href="{% url 'cadmed' %}"><img src="../static/media/addmed.png" width="60px"></a>
        <a href=""><img src="../static/media/addreme.png" width="60px"></a>
    </header>
    <table>
        <caption><h1>Medicos</h1></caption>
        {% for medicos in medicos %}
        <tr>
            <th>{{medicos.nome}}</th>
            <td><a href="{% url 'informacoesmed' medicos.id %}">Informações</a></td>
            <td><a href="{% url 'deletemed' medicos.id %}"><img src="../static/media/lixeira.png" width="35px" style="margin-left: 190px;"></a></td>
           
        </tr>
        {% endfor %}
    </table>  
</body>
</html>